
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">LE BLOG SUR LES FRITES</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="#">MAISON <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="#">Articles</a>
            {%  set current_user = app.session.get('current user')%}
            {% if current_user == "" %}
                <a class="nav-item nav-link" href="#">S'inscrire</a>
                <a class="nav-item nav-link" href="#">Se connecter</a>
            {% else %}
                <a class="nav-item nav-link" href="#">Mon compte</a>
                <div class="nav-item">Connecté en tant que : {{ current_user }}</div>

            {% endif %}
        </div>
    </div>
</nav>